.section {
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
	width: 100%;
	height: 100vh;
}

section h1 {
	position: absolute;
	top: 50px;
	left: 50%;
	transform: translate(-50%);
}

h1 {
	font-family: 'Cursive';
	font-size: 45px;
	color: yellow;
}

.container {
	width: 600px;
	height: 600px;
	display: grid;
	z-index: 100;
	border: 4px solid black;
	background-color: #C8C4C4;

}

.btn {
	background-color: black;
	color: white;
	margin: 10px;
	padding: 10px;
	border: none;
	border-radius: 4px;
}

.btn:hover{
	background-color: #696969;
}

.wrapper {
	display: flex;
	align-items: center;
	justify-content: center;
	width: 850px;
	height: 850px;
	background-color: #FF6060;
	border-radius: 25px
}

body {
	justify-content: center;
	display: flex;
	margin-top: 30px;
	background-color: #87C0EA;

}

